.CFUserTextEncoding
.DS_Store
.Trash/
.arcrc
.atom/
.bash_history
.bash_sessions/
.cache/
.config/
.cups/
.dlv/
.docker/
.lesshst
.local/
.mailcap
.mime.types
.oracle_jre_usage/
.ssh/
.wget-hsts
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Google Drive (myyk.seok@grabtaxi.com)/
Library/
Movies/
Music/
Pictures/
PlayOnMac's virtual drives
Public/
go/
ucm-config/
workspace/
