.CFUserTextEncoding
.DS_Store
.Trash/
.arcrc
.atlas.sh
.atom/
.bash_history
.bash_logout
.bash_sessions/
.cache/
.config/
.cups/
.dbeaver-drivers/
.dbeaver4/
.dlv/
.docker/
.eclipse/
.glide/
.gnupg/
.lesshst
.local/
.mailcap
.mime.types
.mozilla/
.oracle_jre_usage/
.pki/
.ssh/
.sudo_as_admin_successful
.wget-hsts
.zoomus/
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
PlayOnMac's virtual drives
Public/
go/
molder/
snap/
ucm-config/
workspace/
