[user]
	email = myyk.seok@gmail.com
	name = Myyk Seok
[core]
	editor = atom --wait
	excludesfile = /Users/myyk.seok/.gitignore_global
[url "git@gitlab.myteksi.net:"]
	insteadOf = https://gitlab.myteksi.net/
